_target_: made.agents.filters.FilterChain
filters:
  - _target_: made.agents.filters.MinDistanceFilter
    min_distance_threshold: 0.5
  - _target_: made.agents.filters.SMACTValidityFilter
  - _target_: made.agents.filters.UniquenessFilter
    ltol: 0.2
    stol: 0.3
    angle_tol: 5.0
    primitive_cell: true

